on early-init
    # root uid because of powerhal, which runs as root
    chown root system /sys/class/sec/tsp/cmd

service vendor.touch-hal-1-0-singletap /vendor/bin/hw/vendor.lineage.touch@1.0-service.singletap
    class hal
    user system
    group system
